<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=yw9389r1vr"></script>
</head>
<body>
<div id="map" style="width:100%;height:800px;"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

const mapOptions = {
    center: new naver.maps.LatLng(37.2791863, 127.044099),
    zoom: 17
};       
const map = new naver.maps.Map('map', mapOptions);

const baseUrl = 'http://210.107.206.172:3000'
axios.get(`${baseUrl}/data`).then(result=>{
    let locations = result.data;
    
    locations.forEach((location)=>{
        const marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(location.latitude, location.longitude),
            map: map,            
        })  
        const infowindow = new naver.maps.InfoWindow({
            content: `위도: ${location.latitude}, 경도: ${location.longitude}, 
            상태: ${JSON.parse(location.activity)[0]}, 조도 ${location.light}, 걸음수: ${location.step}`
        });

        naver.maps.Event.addListener(marker, "click", function(e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
        });
    })

})

function getIcon(location){
    const activity = JSON.parse(location.activity);
    switch(activity[0].split(' ')[5]){
        case 'ON_BICYCLE': return `${baseUrl}/images/bike.png`;
        case 'IN_VEHICLE': return `${baseUrl}/images/bus.png`;
        case 'ON_FOOT': return `${baseUrl}/images/walk.png`;
        case 'STILL': return `${baseUrl}/images/user.png`;
        case 'TILTING': return `${baseUrl}/images/user.png`;
        case 'WALKING': return `${baseUrl}/images/walk.png`;
        case 'RUNNING': return `${baseUrl}/images/runer-silhouette-running-fast.png`;
        default: return `${baseUrl}/images/question.png`;
    }
}

</script>
</body>
</html>